<div class="componentContainer">
  <div id="messageBox">
    <div class="message"  *ngFor="let message of serverMessages"><span class='nick' [ngStyle]="{'color': message.user_color}">{{ message.user_name }} </span><i>{{ message.user_message_time}}</i> <span> : </span> {{ message.user_message }}</div>
  </div>
    <div class="users">
      <p class="usersHeader">Connectés :</p>
      <p class='userListName' *ngFor="let user of userList" [ngStyle]="{'color': user.user_color}" style="font-weight: bold;">{{ user.user_name }}</p>
    </div>
</div>
  <button type="button" class="btn btn-primary sendBtn" (click)="sendMessage()">Envoyer</button>
  <textarea [(ngModel)]="currMessage" name="currMessage" cols="40" rows="5" placeholder="Ecrire un message..." class="msgBox" (keydown)="checkKey($event)"></textarea>
