.message {
    background-color: white;
    font-size: 14px;
    padding:5px;
}

.message .nick {
    font-size: 20px;
    font-weight: bold;
}

.msgBox {
    position: fixed;
    bottom: 0px;
    width:70%;
    background-color: rgba(230,230,230,1);
    height: 13vh;
    border: 0px;
    border-top: 2px solid #007bff;
}

.sendBtn {
    position: fixed;
    bottom: 0px;
    height: 13vh;
    right:0px;
    width:30%;
    border-radius: 0px!important;
    z-index: 3;
}

.userListName {
    padding: 0px 6px;
    margin: 0px;
}

.users {
    border-left:2px solid #007bff;
    position: fixed;
    right: 0px;
    height: 100vh;
}

.usersHeader {
    border-bottom:1px solid #007bff;
    margin-bottom: 10px;
    text-align: center;
    padding:5px 30px;
}

@media (max-width: 440px) {
    .usersHeader {
        border-bottom:1px solid #007bff;
        margin-bottom: 10px;
        text-align: center;
        padding:5px 5px;
    }

    .componentContainer {
        display: grid;
        grid-template-columns: auto 116px!important;
        height: 100vh;
    }
}

#messageBox {
    grid-column: 1/2;
}

.users {
    grid-column: 2/3;
}

.componentContainer {
    display: grid;
    grid-template-columns: auto 166px;
    height: 100vh;
}