h3 {
    color:white;
    margin: 0px!important;
}

.navbar {
    background-color: #007bff!important;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 3;
    width: 100vw;
}

.navBtn {
    background-image: url('https://sitejerk.com/images/hamburger-icon-png-7.png');
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    border: 0px;
}

.bgsettings {
    background-color: rgba(80,80,80,1);
    color: white!important;
    padding:15px;
    padding-top: 60px;
}

.text-muted {
    color:white!important;
}

.pos-f-t {
    margin-top: 49px!important
}

.bgsettings {
    padding-top: 10px!important;
}