<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bgsettings">
      <h4 class="text-white">Menu</h4>
      <span class="text-muted">Bienvenue sur mon Tchat privé !</span>
    </div>
  </div>
  <nav class="navbar">
    <button class="navBtn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h3>Tchat privé</h3>
  </nav>
</div>

<router-outlet></router-outlet>