<form>
  <div class="form-group">
    <label>Nickname :</label>
    <input type="text" [(ngModel)]='userName' name='userName' class="form-control" aria-describedby="emailHelp" placeholder="Enter nickname">
  </div>
  <button (click)='getNickname()' class="btn btn-primary">Login !</button>
</form>